

<head>
  <link rel="stylesheet" type="text/css" href="assets/css/register.css">
</head>

<form class="c-login" action="/register" method="POST">
  
  <input id="name"  placeholder="Username" type="text" name="name" required/>
  <input id="email"  placeholder="Email" type="email" name="email" required />
  <input id="password"  placeholder="Password" type="password" name="password" required />
  <button type="submit">Register</button>
</form>